<header class="Header">
    <div class="Header--Photo">
        <img src="http://media.fandanzle.co.uk/avatar.png" alt="avatar"/>
    </div>
    <div class="Text--Header">
        <h1>My name is Alex and im a software developer</h1>
        <div>With a passion for web development, security, networking and microservices.</div>
    </div>
</header>    
