#sidebar
  margin-top: 2rem

.widget-wrap
  margin: block-margin 0

.widget
  color: color-sidebar-text
  padding-top: 0.5rem
  border-radius: 3px
  a
    background: #e6e6e6
    display: inline-block
    padding: 0.5rem
    margin: 0 0.5rem 0.5rem 0
    text-decoration: none
    font-weight: bold
    &:hover
      text-decoration: underline
  ul, ol, dl
    ul, ol, dl
      margin-left: 15px
      list-style: disc